@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';


.preview{
    flex-basis: 50%;
    background-color: makerWhite;
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color:makerGreen
}