@value makerLightGrey from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';

.container{
    width : 100%;
    height: 100%;
    display: flex;
}

.input{
    display: none;
}

.button{
    width: 100%;
    background-color: makerWhite;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
}

.button:hover{
    opacity: 0.8;
}