@value makerLightGrey from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerPink from '../../common/colors.css';
@value makerLightPink from '../../common/colors.css';


.container{
    width : 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    display: none;
}

.button{
    width: 100%;
    height: 100%;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
}

.button.grey{
    background: makerLightGrey;
}

.button.pink{
    background: makerLightPink;
}

.button:hover{
    opacity: 0.8;
}

.loading{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border:2px solid makerLightGrey;
    border-top: 2px solid makerPink;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}