@value makerBlack from 'C:/Front-End/card-maker/src/common/colors.css';
@value makerWhite from 'C:/Front-End/card-maker/src/common/colors.css';
@value makerGreen from 'C:/Front-End/card-maker/src/common/colors.css';

.footer{
    background-color: makerGreen;
    padding: 0.5em;
    text-align: center;
    color:makerWhite;
}

.title{
    margin: 2px;
}