@value makerWhite from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';

.login{
    width: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite;
  }
  
  .list{
    width:100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem;
  }

  .item{
      margin-bottom: 0.5em;
  }


.loginBtn{
    width:100%;
    height: 2.5em;
    font-size: 1.2rem;
    border : 0.1em solid makerGreen;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 1.2rem;
}

.loginBtn:hover{
    background-color: makerGreen;
}